[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-plugins/dotbot-yay"]
	path = dotbot-plugins/dotbot-yay
	url = https://github.com/alexwh/dotbot-yay
