[Unit]
Description=Keepass GDrive mount by Rclone

[Service]
ExecStart=/usr/bin/rclone -vv mount \
    --cache-dir /tmp/rclone \
    --vfs-cache-mode writes \
    keepass: %h/docs/keepass

ExecStop=/bin/fusermount -u %h/docs/keepass

Restart=always
RestartSec=10

[Install]
WantedBy=default.target
